body {
    margin: 0;
    background-image: url("images/background.png") 
}

.container {
    width: 1000px;
    margin: 0 auto;
}

header {
    background: #ffffff;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.name {
    float: left;
    padding: 10px 0;
    background-color:#4aaaa5;
    padding: 15px 15px 15px 15px;
    color:white;
    margin-bottom: 0%;
    
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 40px;
    padding-top: 65px;
    position: relative;
   
}

nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    

    position: absolute;
    top: 0;
    width: 0%;

   
}

nav a:hover::before {
    width: 100%;
}

.main {
    width: 960px;
    height: 600px;
    background-color: white;
    margin: auto;
    font-size: 20px;
    padding: 0px 15px 15px 15px;
}


.main p {
    
}

.main h1 {
    color:#4aaaa5;
    padding: 15px 15px 1px 1px;
}

#profile {
    height: 250px;
    width: 250px;
    float: left;
    padding: 15px 15px 15px 15px;
}

input[type=text], select {
    width:900px;
    margin: 8px;
    display:inline-block;  
    
}

#txtarea {
    height: 40%;
    display: inline-block;
    
   
    
}




#computer {
    height: 120px;
    width: 195px;
    float: left;
    margin: 10px 10px 10px 10px;
  position: fixed;
}

#computerdiv {
    height: 40px;
    width: 195px;
    float: left;
    margin: 80px 10px 10px 10px;
  position: fixed;
  background: #4aaaa5;
}

#earphone {
    height: 120px;
    width: 195px;
    float: left;
    margin: 150px 10px 10px 10px;
  position: fixed;
    
}

#rpg {
    height: 120px;
    width: 195px;
    float: left;
    margin: 290px 10px 10px 10px;
  position: fixed;

}

#ipad {
    height: 120px;
    width: 195px;
    float: right;
    margin: 150px 10px 10px 300px;
    position: fixed;
   
}

#tv {
    height: 120px;
    width: 195px;
    float: right;
    margin: 10px 10px 10px 300px;
    position: fixed;
   
}



.footer {
    text-align: center;
    width: 100%;
    background-color: #666666;  
    position: absolute;
    bottom:0;
    
    color:white;
}